<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>COMPOTECH - Carrito</title>
	<link href="/css/bienvenida.css" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap" rel="stylesheet">


</head>

<body>
	<header class="encabezado">

		<nav class="header-nav">
			<div class="logo-container">
				<a th:href="@{/index}"><img src="/imagenes/logoCompoTech.png" width="40%"></a>
			</div>

			<div class="cerrar-sesion">
				<a th:href="@{/logout}">
					<p>LogOut</p>
				</a>
				</div>
		</nav>
		<nav class="navegador">
			<ul class="opciones">
				<li><a th:href="@{/index}">Inicio</a></li>
				<li><a th:href="@{/producto}">Productos</a></li>
				<li><a th:href="@{/lote}">Lotes</a></li>
				<li><a th:href="@{/pedidosAprov}">Aprovisionamientos</a></li>
				<li><a th:href="@{/stock}">Stock</a></li>
			</ul>
		</nav>

	</header>

	<main>
		<h2>Aca un lindo main sobre Carrito</h2>
	</main>


	<footer>

		<main>



			<table border="1px">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Codigo</th>
						<th>Costo</th>
						<th>Precio de venta</th>
						<th>Descripción</th>
						<th>En Stock</th>
						<th>Stock Crítico</th>
						<th>Hacer pedido</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="s : ${stock}">
						<td><span th:text="${s.producto.nombre}" /></td>
						<td><span th:text="${s.producto.codigo}" /></td>
						<td><span th:text="${s.producto.costo}" /></td>
						<td><span th:text="${s.producto.precioVenta}" /></td>
						<td><span th:text="${s.producto.descripcion}" /></td>
						<td><span th:text="${s.stockActual}" /></td>
						<td><span th:text="${s.descripcion}" /></td>
						<td>
							<a th:href="@{/aprovisionamiento/{id}(id=${s.producto.id})}">Ver</a>
						</td>
					</tr>
				</tbody>
			</table>




		</main>
		
		<table border="1px">
					<thead>
						<tr>
	
							<th>cliente</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="carrito : ${carritos}">
							
							<td><span th:text="${carrito.cliente.username}" /></td>
							<td><span th:text="${carrito.fecha}" /></td>
														
						</tr>
					</tbody>
				</table>
		
		
		
		
    </main>


		<h1>Aca un lindo footer</h1>

	</footer>

</body>

</html>