<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>COMPOTECH - Carrito</title>
	<link href="/css/bienvenida.css" rel="stylesheet">
	<link href="/css/carritoStyle.css" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap" rel="stylesheet">

	<script src="https://kit.fontawesome.com/57faba85b1.js" crossorigin="anonymous"></script>

	<script src="/js/carrito.js?v=1.0" async></script>

</head>

<body>

	<header class="encabezado">
		<nav class="header-nav">
			<div class="logo-container">
				<a th:href="@{/index}"><img src="/imagenes/logoCompoTech.png" width="40%"></a>
			</div>

			<div class="cerrar-sesion">
				<div class="iconos">
					<a th:href="@{/carrito}"><i class="fa-solid fa-cart-shopping" width="40%"></i></a>
				</div>
				<div class="logOut">
					<a th:href="@{/logout}">
						<p>LogOut</p>
					</a>
				</div>
			</div>
		</nav>
		<nav class="navegador">
			<ul class="opciones">
				<li><a th:href="@{/index}">Inicio</a></li>
				<li><a th:href="@{/producto}">Productos</a></li>
				<li><a th:href="@{/lote}">Lotes</a></li>
				<li><a th:href="@{/pedidosAprov}">Aprovisionamientos</a></li>
				<li><a th:href="@{/stock}">Stock</a></li>
			</ul>
		</nav>
	</header>

	<section class="contenedor">
	    <!-- Contenedor de elementos -->
	    <div class="header-productos">
	        <h2>Productos</h2>
	    </div>
	    <div class="contenedor-items">
	        <tr th:each="stock : ${stock}">
	            <div class="item">
	                <span class="titulo-item" th:text="${stock.producto.nombre}"></span>
	                <span class="precio-item" th:text="${stock.producto.precioVenta}"></span>
	                <input type="number" min="1" th:max="${stock.stockActual}" value="1" class="cantidad-item" />
	                <button class="boton-item" 
	                    th:data-producto-id="${stock.producto.id}" 
	                    th:data-producto-nombre="${stock.producto.nombre}" 
	                    th:data-producto-precio="${stock.producto.precioVenta}" 
	                    th:data-stock-actual="${stock.stockActual}">Agregar al Carrito
	                </button>             
	            </div>
	        </tr>
	    </div>

		<!-- Carrito de Compras -->
		    <div class="cuadro-carrito">
		        <div class="carrito">
		            <div class="header-carrito">
		                <h2>Tu Carrito</h2>
		            </div>
		            <div class="carrito-items">
		                <!-- Aquí se mostrarán los elementos del carrito -->
		                <div th:each="item : ${lstItem}">
		                    <div class="carrito-item">
		                        <span class="carrito-item-titulo" th:text="${item.producto.nombre}"></span>
		                        <span class="carrito-item-precio" th:text="${item.producto.precioVenta}"></span>
		                        <span class="carrito-item-cantidad" th:text="${item.cantidad}"></span>
								<input type="hidden" name="itemId" th:value="${item.id}"/>
								<form th:action="@{/carrito/eliminar/{id}(id=${item.id})}" method="post">
		                           <button type="submit" class="btn-eliminar">Eliminar</button>
		                       </form>
		                       
		                    </div>
		                </div>
		            </div>
		        </div>
		        <form th:action="@{/carrito/create}" method="post" id="carrito-form" th:object="${lstItem}">
		            <div class="carrito-total">
		                <div class="fila">
		                    <strong>Tu Total</strong>
		                    <span class="carrito-precio-total">0</span>
		                </div>
		                <button type="submit" class="btn-pagar">Finalizar compra<i class="fa-solid fa-bag-shopping"></i> </button>
		            </div>
		        </form>
		    </div>
	</section>

	<script>
		document.addEventListener("DOMContentLoaded", function() {
		    const form = document.getElementById('carrito-form');
		    
		    form.addEventListener('submit', function(event) {
		        event.preventDefault(); // Prevenir la redirección

		        // Crear un objeto FormData con los datos del formulario
		        const formData = new FormData(form);

		        // Convertir FormData a un objeto JSON para visualización
		        const formDataObject = {};
		        formData.forEach((value, key) => {
		            if (!formDataObject[key]) {
		                formDataObject[key] = value;
		            } else {
		                if (!Array.isArray(formDataObject[key])) {
		                    formDataObject[key] = [formDataObject[key]];
		                }
		                formDataObject[key].push(value);
		            }
		        });

		        // Imprimir el objeto JSON en la consola
		        console.log(JSON.stringify(formDataObject, null, 2));

		        // Enviar el formulario después de la depuración
		        setTimeout(() => {
		            form.submit();
		        }, 1000); // Puedes ajustar el tiempo de espera según sea necesario
		    });
		});
	</script>
	
</body>

</html>
