<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>COMPOTECH - Carrito</title>
	<link href="/css/bienvenida.css" rel="stylesheet">
	<link href="/css/carritoStyle.css" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap" rel="stylesheet">

	<script src="https://kit.fontawesome.com/57faba85b1.js" crossorigin="anonymous"></script>

	<script src="/js/carrito.js?v=1.0" async></script>

</head>

<body>

	<header class="encabezado">
		<nav class="header-nav">
			<div class="logo-container">
				<a th:href="@{/index}"><img src="/imagenes/logoCompoTech.png" width="40%"></a>
			</div>

			<div class="cerrar-sesion">
				<div class="iconos">
					<a th:href="@{/carrito}"><i class="fa-solid fa-cart-shopping"></i></a>
				</div>
				<div class="logOut">
					<a th:href="@{/logout}">
						<p>LogOut</p>
					</a>
				</div>
			</div>
		</nav>
		<nav class="navegador">
			<ul class="opciones">
				<li><a th:href="@{/index}">Inicio</a></li>
				<li><a th:href="@{/producto}">Productos</a></li>
				<li><a th:href="@{/lote}">Lotes</a></li>
				<li><a th:href="@{/pedidosAprov}">Aprovisionamientos</a></li>
				<li><a th:href="@{/stock}">Stock</a></li>
			</ul>
		</nav>
	</header>

	<section class="contenedor">
		<!-- Contenedor de elementos -->
		<div class="header-productos">
			<h2>Productos</h2>
		</div>
		<div class="contenedor-items">
			<tr th:each="stock : ${stock}">
				<div class="item">
					<span class="titulo-item" th:text="${stock.producto.nombre}"></span>
					<span class="precio-item" th:text="${stock.producto.precioVenta}"></span>
					
					<button class="boton-item" data-producto-id="${stock.producto.id}" th:data-stockactual="${stock.stockActual}">Agregar al Carrito</button>
				</div>
			</tr>
		</div>

		<!-- Carrito de Compras -->
		<div class="cuadro-carrito">
			<tr class="carrito" id="carrito">
				<div class="header-carrito">
					<h2>Tu Carrito</h2>
				</div>

				<div class="carrito-items">
					<!-- Aquí se mostrarán los elementos del carrito -->
					
				</div>
				<div class="carrito-total">
					<div class="fila">
						<strong>Tu Total</strong>
						<span class="carrito-precio-total">$0,00</span>
					</div>
					<button class="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i> </button>
				</div>
			</tr>
		</div>
		
	</section>

</body>

</html>
