<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>COMPOTECH - Stock</title>
	<link href="/css/bienvenida.css" rel="stylesheet">
	<link href="/css/carritoStyle.css" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap" rel="stylesheet">

	<script src="https://kit.fontawesome.com/57faba85b1.js" crossorigin="anonymous"></script>

</head>

<body>
	<header class="encabezado">

		<nav class="header-nav">
			<div class="logo-container">
				<a th:href="@{/index}"><img src="/imagenes/logoCompoTech.png" width="40%"></a>
			</div>

			<div class="cerrar-sesion">
				<div class="iconos">
					<a th:href="@{/carrito}"><i class="fa-solid fa-cart-shopping" width="40%"></i></a>
				</div>
				<div class="logOut">
					<a th:href="@{/logout}">
						<p>LogOut</p>
					</a>
				</div>
			</div>
		</nav>
		<nav class="navegador">
			<ul class="opciones">
				<li><a th:href="@{/index}">Inicio</a></li>
				<li><a th:href="@{/producto}">Productos</a></li>
				<li><a th:href="@{/lote}">Lotes</a></li>
				<li><a th:href="@{/pedidosAprov}">Aprovisionamientos</a></li>
				<li><a th:href="@{/stock}">Stock</a></li>
			</ul>
		</nav>

	</header>

	<main>

		<table border="1px">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Codigo</th>
					<th>Costo</th>
					<th>Precio de venta</th>
					<th>Descripción</th>
					<th>En Stock</th>
					<th>Stock Crítico</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="s : ${stock}">

					<td><span th:text="${s.producto.nombre}" /></td>
					<td><span th:text="${s.producto.codigo}" /></td>
					<td><span th:text="${s.producto.costo}" /></td>
					<td><span th:text="${s.producto.precioVenta}" /></td>
					<td><span th:text="${s.producto.descripcion}" /></td>
					<td><span th:text="${s.stockActual}" /></td>
					<td><span th:text="${s.stockCritico}" /></td>
					<!--<td>
						<a th:href="@{/pedidosAprov}">Hacer pedido</a>
					</td>-->
				</tr>
			</tbody>
		</table>

		<a th:href="@{/pedidosAprov}" class="boton-pedido" >
			<button class="button">Hacer pedido</button>
		</a>

		
	</main>


	<script>
		// JavaScript para cambiar el color de las celdas si el stock actual es menor que el stock crítico
		document.addEventListener('DOMContentLoaded', function () {
			const tableRows = document.querySelectorAll('table tbody tr');

			tableRows.forEach(row => {
				const stockActualCell = row.cells[5];
				const stockCriticoCell = row.cells[6];

				const stockActual = parseFloat(stockActualCell.textContent);
				const stockCritico = parseFloat(stockCriticoCell.textContent);

				if (stockActual < stockCritico) {
					stockActualCell.style.backgroundColor = 'red';
					stockCriticoCell.style.backgroundColor = 'red';
				}
			});
		});
	</script>

</body>

</html>