<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

</html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>COMPOTECH - Nuevo Producto</title>
	<link href="/css/bienvenida.css" rel="stylesheet">
	<link href="/css/productoStyle.css" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap" rel="stylesheet">

</head>

<body>

	<header class="encabezado">

		<nav class="header-nav">
			<div class="logo-container">
				<a th:href="@{/index}"><img src="/imagenes/logoCompoTech.png" width="40%"></a>
			</div>

			<div class="cerrar-sesion">
				<a th:href="@{/logout}">
					<p>LogOut</p>
				</a>
			</div>
		</nav>
		<nav class="navegador">
			<ul class="opciones">
				<li><a th:href="@{/index}">Inicio</a></li>
				<li><a th:href="@{/producto}">Productos</a></li>
				<li><a th:href="@{/lote}">Lotes</a></li>
				<li><a th:href="@{/pedidosAprov}">Aprovisionamientos</a></li>
				<li><a th:href="@{/stock}">Stock</a></li>
			</ul>
		</nav>

	</header>

	<main>
		<form action="#" th:action="@{/pedidosAprov/create}" th:object="${pedidoAprov}" method="post">

			<div>
				<label for="cantidad">Cantidad:</label>
				<input type="number" id="cantidad" th:field="*{cantidad}" min="0" required />
			</div>
			<div>
				<label for="producto">Producto:</label>
					<select id="producto" th:field="*{producto}">
						<option th:each="producto : ${productosEnStock}" th:value="${producto.id}"
							th:text="${producto.nombre}">...</option>
					</select>
	       </div>
			<div>
				<label for="proveedorNombre">Proveedor:</label>
				<select id="proveedorNombre" th:field="*{proveedor}">
					<option th:each="proveedor : ${proveedores}" th:value="${proveedor.id}"
						th:text="${proveedor.nombre}">...</option>
				</select>
			</div>
			<div>
				<label for="fechaPedido">Fecha Pedido:</label>
				<input type="date" id="fechaPedido" th:field="*{fechaPedido}" required />
			</div>
			<div>
				<input type="submit" value="Crear Pedido" />
			</div>
		</form>
	</main>

</body>

</html>