<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>COMPOTECH - Lote</title>
	<link href="/css/bienvenida.css" rel="stylesheet">

</head>

<body>
	<header class="encabezado">

		<nav class="header-nav">
			<div class="logo-container">
				<a href="th:href=@{/index}"><img src="/imagenes/logoCompoTech.png" width="40%"></a>
			</div>

			<div class="cerrar-sesion">
				<a th:href="@{/logout}">
					<p>LogOut</p>
				</a>
			</div>
		</nav>
		<ul class="opciones">
			<li><a th:href="@{/index}">Inicio</a></li>
			<li><a th:href="@{/producto}">Productos</a></li>
			<li><a th:href="@{/lote}">Lotes</a></li>
			<li><a th:href="@{/pedidosAprov}">Aprovisionamientos</a></li>
			<li><a th:href="@{/stock}">Stock</a></li>
		</ul>

	</header>

	<main>
		<h2>Aca un lindo main sobre Lotes</h2>
	</main>


	<footer>

		<h1>Aca un lindo footer</h1>

	</footer>

</body>

</html>